body {
  margin: 0px;
}

header {
  /* border: 5px solid red; */
  text-align: center;
  height: 50px;
  width: 2000px;
  background-color: lightgray;
}

.text_box * {
  display: inline;
  /* border: 2px solid green; */
}

.out {
  /* border: 2px solid blue; */
  position: fixed;
  left: 200px;
  right: 500px;
  width: 1000px;
  /* text-align: center; */
}

.left {
  background-color: lightblue;
  position: fixed;
  top: 100px;
  width: 500px;
  height: 500px;
  left: 100px;

}

.left_first {
  border: 2px solid black;
}

.right {
  background-color: lightpink;
  position: fixed;
  top: 100px;
  width: 500px;
  height: 500px;
  right: 100px;
}
