.first * {
  background-color: lightgray;
  margin: 0px;
  padding: 10px;
  text-align: center;
}

header * {
  display: inline;
  margin: 0px;
  padding: 5px;
}

#sign_up {
  background-color: green;
  color: white;
  border: solid green;
}

#sign_in {
  background-color: lightgray;
}

body  {
  margin: 0px;
  padding: 0px;
}

.second * {
  /* display: inline; */
  margin: 0px;
  /* border: 2px solid green; */
  text-align: center;
}

#second_text {
  font-weight: bold;
  color: blue;
  margin-right: 350px;
}

.second_text_button_box * {
  display: inline;
}

.second_text_box * {
  /* border: 2px solid red; */
  display: inline;
}

.second_button_box * {
  /* border: 2px solid yellow; */
  display: inline;
  margin: 10px;
}

.third * {
  text-align: left;
  margin-left: 230px;
}

.status * {
  display: inline;
  /* border: 2px solid red; */
  padding: 10px;
  margin-left: 230px
}

.status_box * {
  /* border: 2px solid green; */
  /* display: inline; */
  margin-left: 0px;
  margin: 50px;
}

.branch_change_line * {
  display: inline;
  /* border: 2px solid red; */
  margin-top: 30px;
  margin-left: 230px;
}

.first_half * {
  /* border: 2px solid yellow; */
  display: inline;
  margin-left: 0px;
}

.first_half h1 { color: blue;}

#index {
  margin-left: 350px;
}

.index_header * {
  display: inline;
  /* border: solid 2px green; */
}

.index_header_box * {
  /* text-align: center; */
  /* border: 2px solid blue; */
  margin-top: 20px;
}

.index_header_text {
  /* border: 2px solid red; */
  margin-left: 230px;
}

.index_header_other {
  /* border: 2px solid yellow; */
  margin-left: 280px;
}

.list {
  margin-left: 230px;
  margin-right: 400px;
  border: 2px solid red;
}

#list_first {
  background-color: lightblue;
  border: 2px solid lightgray;
  margin-bottom: 0px;
  padding: 5px;
}

#list_second {
  background-color: lightgray;
  border: 0px solid lightgray;
  margin-top: 0px;
  margin-bottom: 0px;
    padding: 5px;
}

#list_third {
  background-color: lightgray;
  border: 0px solid lightgray;
  margin-top: 0px;
  margin-bottom: 0px;
    padding: 5px;
}
























}

.fourth_line * {
  display: inline;
}

.before_index * {
  display: inline;
}
