body {
  margin: 0px;
}

.header_box * {
  /* display: inline; */
  background-color: lightgray;
  text-align: center;
}

header * {
  display: inline;
}

.nav_box {
  margin: 20px;
  /* border: 2px solid red; */
}

#sign_up {
  background-color: green;
  color: white;
  border: green;
}

header_second * {
  display: inline;
  /* border: 2px solid green; */
}

.header_second_text {
  color: blue;
  /* border: 2px solid red; */
  margin-left: 230px;
}

.header_second_buttons {
  display: inline;
  margin-left: 230px;
  /* border: 2px solid yellow; */
}

#Watch {
  margin-left: 20px;
}

#Star {
  margin-left: 20px;
}

#Fork {
  margin-left: 20px;
}

.before_list {
  margin-left: 230px;
}

.state_box {
  border: 2px solid lightgray;
  border-bottom: 5px solid yellow;
  margin-right: 200px;
  text-align: center;
  padding: 10px;
}

.state * {
  display: inline;
  margin-left: 40px;
  margin-right: 30px;
  /* border: 2px solid red; */
}

.before_list_last * {
  display: inline;
}

.half_one {
  margin-left: 230px;
}

.half_two {
  margin-left: 250px;
}

.list {
  border: 2px solid green;
  margin-left: 230px;
  margin-right: 400px;
}

.list_one {
  /* border: 2px solid red; */
  margin: 0px;
}

.list_one_title_box * {
  display: inline;
}

.list_one_title_function_box {
  /* border: 2px solid red; */
  margin-left: 500px;
}

.list_two {
  background-color: lightblue;
  margin: 0px;
  /* border: 2px solid green;   */
}

/* .list_three right {
  color: lightgray;
  margin-left: 450px;
  border: 2px solid red;
} */

.list_three * {
  /* border: 2px solid green; */
  display: inline;
}

.show {
  border: 2px solid green;
  margin-top: 50px;
  margin-left: 230px;
  margin-right: 400px;
}

.show_title {
  background-color: lightgray;
}

.show_text {
  margin: 20px;
  font-size: 45px;
}
